@media screen and (max-width: 1024px) {
    #header {
        height: 540px;
    }

    .contact + ul, li {
        padding-left: 0;
    }

    .contact {
        text-align: start;
    }

    #me {
        margin: 20px;
    }

    .list {
        padding-top: 0;
        margin: 0;
        font-size: 19px;
    }

    #skills {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 768px) {
    
}